header {
  background-color: #162831;
  padding: 20px;
}

main {
  margin: 0 auto;
  width: 1060px;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 34px;
  color: #FF9330;
  text-transform: uppercase;
}

.div-title {
  width: 1060px;
  margin: 0 auto;
}

h3 {
  margin: 0;
  color: #FF9330;
  font-size: 16px;
  font-weight: bold;
  align-self: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1060px;
  justify-content: space-between;
  align-content: center;
  padding-top: 20px;
}

.select-options {
  display: flex;
  flex-wrap: wrap;
}
