.card {
  width: 200px;
}

img {
  width: 100%;
  display: block;
}

.img-hover {
	background: #cccccc;
}
.img-hover img {
	opacity: 1;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.img-hover:hover img {
	opacity: .85;
}

p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  font-size: 13px;
}

.movie-title {
  margin-top: 7px;
  font-weight: bold;
}

.year-genres {
  font-size: 12px;
  margin-top: 5px;
  color: #c5c5c5
}

a {
  color: #e7e7e7;
  text-decoration: inherit;
  transition: .2s ease-in-out;
}

a:hover {
  color: #FF9330;
}
