.pagination button {
  border: none;
  color: #dedede;
  min-width: 35px;
  max-width: max-content;
  height: 35px;
  border-radius: 50%;
  margin: 5px;
  font-weight: bold;
}

.btn-page, .btn-before-after {
  background-color: #0B171D;
}

.btn-current-page {
  background-color: #FF9330;
}

.btn-page:hover {
  cursor: pointer;
  background-color: #162831;
}

.btn-current-page:hover {
  cursor: pointer;
  background-color: #e37003;
}

.pagination {
  width: max-content;
  margin: 0 auto;
}
